/* TOP-LEVEL */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 100px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* OVERRIDES BOOTSTRAP */

.navbar {
    padding: 15px;
}

.table td {
    padding: 25px;
}

.table td > figure {
    height: 100%;
    margin: 0;
}

.table td > figure > img {
    height: 100%;
    width: 50%;
}

.table td > figure > figcaption {
    padding: 10px 0;
}

.table td > figure > figcaption > b {
    font-size: 0.8rem;
}

/* GLOBAL CSS */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    height: 100px;
    padding: 25px;
    text-align: center;
}

main {
    padding: 100px 0;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

/* INDIVIDUAL CSS */

p#number-sorted,
p#number-skipped {
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
}

img.click-logo {
    display: inline-block;
    height: 25px;
}

img.game-logo {
    padding: 25px;
    width: 500px;
    height: 300px;
}

img.table-image {
    width: 20vw;
}

article.cross > i {
    font-size: 15vw;
}

a.no-link-style {
    text-decoration: none;
    color: unset;
}