/* TOP-LEVEL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    background: #ececec4c;
}

/* OVERRIDES BOOTSTRAP */

.navbar {
    padding: 15px;
}

.table td {
    padding: 25px;
}

.table td > figure {
    height: 100%;
    margin: 0;
}

.table td > figure > img {
    height: 100%;
    width: 50%;
}

.table td > figure > figcaption {
    padding: 10px 0;
}

.table td > figure > figcaption > b {
    font-size: 0.8rem;
}

/* GLOBAL CSS */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    height: 100px;
    padding: 25px;
    text-align: center;
}

main {
    padding: 100px 0;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
}

/* INDIVIDUAL CSS */

p#number-sorted,
p#number-skipped {
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
}

img.click-logo {
    display: inline-block;
    height: 25px;
}

img.game-logo {
    padding: 25px;
    width: 500px;
    height: 300px;
}

img.table-image {
    width: 20vw;
}

article.cross > i {
    font-size: 15vw;
}

a.no-link-style {
    text-decoration: none;
    color: unset;
}





/*------------ Login container ------------*/

.box-area{
    width: 930px;
    
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 20px;
        

     }
     .left-box{
        height: 100px;
        overflow: hidden;
        margin-top: 20px;
     }
     .right-box{
        padding: 30px;
     }

     .left-box >.left-img > img{

        width: 100px;
        height: 80px;

     }

}