<body>

    <header>
        <nav class="navbar container-fluid justify-content-end">
            <form class="d-flex gap-2">
                <a href="/login" class="btn btn-outline-dark orange-hover" id="login-btn"><i
                        class="bi bi-person-circle">&ensp;</i>Login</a>
                <a href="/registreren" class="btn btn-dark orange-hover" id="register-btn"><i
                        class="bi bi-person-vcard-fill">&ensp;</i>Registreren</a>
            </form>
        </nav>
    </header>