<%- include("partials/head.ejs", { title: "Foutmelding Login" }); %>
<%- include("partials/header-simple.ejs") %>

    <main class="d-flex justify-content-center align-items-center p-5">
        <section class="d-flex column-gap-5 flex-wrap">
            <article class="cross">
                <i class="bi bi-x-circle text-danger"></i>
            </article>

            <article class="d-flex align-items-center">
                <div>
                    <h5>Wacht even!</h5>
                    <p>Je moet ingelogd zijn om verder te kunnen.</p>
                    <a class="btn btn-dark orange-hover" href="/login">Schrijf me in&ensp;<i class="bi bi-arrow-right"></i></a>
                </div>
            </article>
        </section>
    </main>

    <%- include("partials/footer.ejs"); %>