<% include('partials/header.ejs', {title: Minifig onderdelen}) %>


<body>
    <header class="navbar navbar-expand-lg fixed-top">
        <nav class="container-fluid justify-content-between">
            <a href="homepagina.html" class="navbar-brand">
                <img src="/images/click-logo.png" class="click-logo" alt="logo" /><!--Afbeelding zelf gemaakt via canva-->
                Lego Masters
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <a href="homepagina.html" class="navbar-brand">
                            <img src="/images/click-logo.png" class="click-logo" alt="logo" /><!--Afbeelding zelf gemaakt via canva-->
                            Lego Masters
                        </a>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body d-flex justify-content-lg-center">
                    <ul class="navbar-nav gap-2">
                        <li class="nav-item">
                            <a href="niet-geordende-minifigs.html" class="btn btn-danger me-2">Niet-geordende minifigs</a>
                        </li>
                        <li class="nav-item">
                            <a href="blacklist.html" class="btn btn-dark me-2">Blacklist</a>
                        </li>
                        <li class="nav-item">
                            <a href="geordende-minifigs.html" class="btn btn-success me-2">Geordende minifigs</a>
                        </li>
                        <li class="nav-item mt-auto mt-lg-0 d-block d-lg-none">
                            <form>
                                <a href="login.html" class="btn btn-outline-dark orange-hover" id="login-btn"><i class="bi bi-person-fill-dash">&ensp;</i>Uitloggen</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="d-none d-lg-block">
                <a href="login.html" class="btn btn-outline-dark orange-hover" id="login-btn"><i class="bi bi-person-fill-dash">&ensp;</i>Uitloggen</a>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup>
            <h1> Minifig onderdelen</h1>
            <p> Bij minifig onderdelen. In deze pagina zie je de onderdelen per minifig en per minifig kan je door behulp van de knopjes de bijhorende sets bekijken.</p>
        </hgroup>
        <div class="row">

            <aside class="col-lg-4">
                <h2 class="mb-3">Minifig</h2>
                <article>
                    <figure class="card rounded-4">
                        <img src="https://cdn.rebrickable.com/media/thumbs/sets/fig-005607/120545.jpg/800x800p.jpg" alt="fig-001921" class="card-img-top rounded-4" />
                        <div class="card-body">
                            <figcaption class="card-text fw-bold">AIM Agent with Neck Bracket</figcaption>
                        </div>
                        <div class="card-footer">
                            <a href="minifig-onderdelen.html" target="_blank" title="Bekijk de onderdelenlijst van deze minifig in een nieuw tabblad" class="no-link-style">
                                <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                            </a>
                            <a href="sets-met-bepaalde-minifig.html" target="_blank" title="Bekijk lijst van sets waarin deze minifig voorkomt" class="no-link-style">
                                <i class="btn btn-dark orange-hover btn-sm bi-view-list rounded-2"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </aside>

            <section class="container-fluid col-lg-7">
                <h2 class="mb-3 mt-5 mt-lg-0">Onderdelen</h2>
                <div class="row">

                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="https://cdn.rebrickable.com/media/thumbs/parts/elements/6288606.jpg/85x85p.jpg" class="card-img-top rounded-4" alt="6288606" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold">Minifig Head AIM Agent </figcaption>
                            </div>
                        </figure>
                    </article>

                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="https://cdn.rebrickable.com/media/thumbs/parts/elements/6103305.jpg/85x85p.jpg" class="card-img-top rounded-4" alt="6103305" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold">Hat / Helmet, Aviator Cap</figcaption>
                            </div>
                        </figure>
                    </article>

                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="https://cdn.rebrickable.com/media/thumbs/parts/elements/6197015.jpg/85x85p.jpg" class="card-img-top rounded-4" alt="6197015" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold">Hips+Pearl Titanium Legs</figcaption>
                            </div>
                        </figure>
                    </article>

                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="https://cdn.rebrickable.com/media/thumbs/parts/elements/6289298.jpg/85x85p.jpg" class="card-img-top rounded-4" alt="6289298" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold">Minifig Neckwear Scuba Breathing Regulator</figcaption>
                            </div>
                        </figure>
                    </article>

                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="https://cdn.rebrickable.com/media/thumbs/parts/elements/6294648.jpg/85x85p.jpg" class="card-img-top rounded-4" alt="6294648" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold">Torso Silver Armor and Bright Light Orange Plates</figcaption>
                            </div>
                        </figure>
                    </article>

                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="https://cdn.rebrickable.com/media/thumbs/parts/elements/6100958.jpg/85x85p.jpg" class="card-img-top rounded-4" alt="6100958" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold">Minifig Neckwear Bracket with 2 Back Studs</figcaption>
                            </div>
                        </figure>
                    </article>

                </div>
            </section>
            
        </div>
    </main>

    <% include('partials/footer.ejs') %>