<!DOCTYPE html>
<html lang="nl-BE">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NIET GEVONDEN!</title>
    </head>

    <body>
        <hgroup>
            <h1>Deze pagina is niet gevonden op onze servers!</h1>
            <p><b>Opgevraagde URL:&emsp;</b><output><%= requestedUrl %></hgroup></output></p>
        </hgroup>
    </body>

</html>