<%- include("partials/header.ejs" {title: "Resultaten van het ordenen"}) %>

<body>
    <header class="navbar navbar-expand-lg fixed-top">
        <nav class="container-fluid justify-content-between">
            <a href="homepagina.html" class="navbar-brand">
                <img src="/images/click-logo.png" class="click-logo" alt="logo" /><!--Afbeelding zelf gemaakt via canva-->
                Lego Masters
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <a href="homepagina.html" class="navbar-brand">
                            <img src="/images/click-logo.png" class="click-logo" alt="logo" /><!--Afbeelding zelf gemaakt via canva-->
                            Lego Masters
                        </a>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex justify-content-lg-center">
                    <ul class="navbar-nav gap-2">
                        <li class="nav-item">
                            <a href="niet-geordende-minifigs.html" class="btn btn-danger me-2">Niet-geordende minifigs</a>
                        </li>
                        <li class="nav-item">
                            <a href="blacklist.html" class="btn btn-dark me-2">Blacklist</a>
                        </li>
                        <li class="nav-item">
                            <a href="geordende-minifigs.html" class="btn btn-success me-2">Geordende minifigs</a>
                        </li>
                        <li class="nav-item mt-auto mt-lg-0 d-block d-lg-none">
                            <form>
                                <a href="login.html" class="btn btn-outline-dark orange-hover" id="login-btn"><i class="bi bi-person-fill-dash">&ensp;</i>Uitloggen</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="d-none d-lg-block">
                <a href="login.html" class="btn btn-outline-dark orange-hover" id="login-btn"><i class="bi bi-person-fill-dash">&ensp;</i>Uitloggen</a>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    
    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup>
        <h1>Resultaten</h1>
        <p> In deze pagina word de aantal van de gebruikte minifigs en geskipte minifigs bijgehouden met daarbij een knopje waardoor het ook in een lijst wordt getoond  </p>
        </hgroup>
        <section class="row justify-content-evenly">
            <article class="card text-bg-success col-9 col-sm-7 col-lg-4">
                <div class="card-header">
                    <h2 class="card-title">Aantal gebruikt</h2>
                </div>
                <div class="card-body">
                    <p class="card-text" id="number-sorted">20</p>
                    <a href="gebruikte-minifigs.html" class="btn btn-dark d-block"><i class="bi bi-eye-fill">&ensp;</i>Lijst bekijken</a>
                </div>
            </article>
            <article class="card text-bg-warning col-9 col-sm-7 col-lg-4 mt-5 mt-lg-0">
                <div class="card-header">
                    <h2 class="card-title">Aantal overgeslagen</h2>
                </div>
                <div class="card-body">
                    <p class="card-text" id="number-skipped">7</p>
                    <a href="overgeslagen-minifigs.html" class="btn btn-dark d-block"><i class="bi bi-eye-fill">&ensp;</i>Lijst bekijken</a>
                </div>
            </article>
        </section>
    </main>
    
<%- include("partials/footer")%>