<% include("partials/header" {title: "Alle huizen waar " + nameMinifig + " deel van uitmaakt"}) %>

<body>
    <header class="navbar navbar-expand-lg fixed-top">
        <nav class="container-fluid justify-content-between">
            <a href="/homepagina" class="navbar-brand">
                <img src="/images/click-logo.png" class="click-logo"
                    alt="logo" /><!--Afbeelding zelf gemaakt via canva-->
                Lego Masters
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <a href="/homepagina" class="navbar-brand">
                            <img src="/images/click-logo.png" class="click-logo"
                                alt="logo" /><!--Afbeelding zelf gemaakt via canva-->
                            Lego Masters
                        </a>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body d-flex justify-content-lg-center">
                    <ul class="navbar-nav gap-2">
                        <li class="nav-item">
                            <a href="/niet-geordende-minifigs" class="btn btn-danger me-2">Niet-geordende
                                minifigs</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blacklist" class="btn btn-dark me-2">Blacklist</a>
                        </li>
                        <li class="nav-item">
                            <a href="/geordende-minifigs" class="btn btn-success me-2">Geordende minifigs</a>
                        </li>
                        <li class="nav-item mt-auto mt-lg-0 d-block d-lg-none">
                            <form>
                                <a href="/login" class="btn btn-outline-dark orange-hover" id="login-btn"><i
                                        class="bi bi-person-fill-dash">&ensp;</i>Uitloggen</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="d-none d-lg-block">
                <a href="/login" class="btn btn-outline-dark orange-hover" id="login-btn"><i
                        class="bi bi-person-fill-dash">&ensp;</i>Uitloggen</a>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup>
        <h1>Verblijven van &lsquo;Batman&rsquo;</h1>
        <p>In deze pagina ziet u een specifieke minifig met daarbij alle bijhorende sets, en per set kunt u met behulp van het knopje de bijhorende minifig bekijken van dat specifieke set.</p>
        </hgroup>
        <div class="row justify-content-center">
            <aside class="col-lg-4">
                <article>
                    <figure class="card rounded-4">
                        <img src="https://cdn.rebrickable.com/media/thumbs/sets/fig-001804/111165.jpg/800x800p.jpg"
                            alt="fig-001804" class="card-img-top rounded-4" />
                        <div class="card-body">
                            <figcaption class="card-text fw-bold">Batman</figcaption>
                        </div>
                        <div class="card-footer">
                            <a href="/minifig-onderdelen" target="_blank"
                                title="Bekijk de onderdelenlijst van deze minifig in een nieuw tabblad"
                                class="no-link-style">
                                <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </aside>

            <hr class="d-block d-lg-none col-8 mt-5 pt-5 border-top border-2 border-success" />

            <section class="container-fluid col-lg-7">
                <div class="row">
                    <% for (let i=0; i<setMetBepaaldeMinifig.length; i++){%>
                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="<%= setMetBepaaldeMinifig[i].minifigs.imageUrl %>"
                                class="card-img-top rounded-4" alt="<%= setMetBepaaldeMinifig[i].minifig.figCode %>" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold"><%= setMetBepaaldeMinifig[i].minifig.name %></figcaption>
                            </div>
                            <div class="card-footer">
                                <a href="/minifigs-in-set" target="_blank"
                                    title="Bekijk lijst van minifigs van deze set in een nieuw tabblad"
                                    class="no-link-style">
                                    <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                                </a>
                            </div>
                        </figure>
                    </article>
                    <% } %>
                    

                </div>
            </section>
        </div>
    </main>

 <%- include("partials/footer") %>